{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 55.695861564140344,
        "longitude": 12.447423934936525,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Fortet",
        "time_zone": "Europe/Copenhagen",
        "external_url": null,
        "internal_url": null
    }
}